In [92]:
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier, HistGradientBoostingClassifier 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report

In [72]:
titanic_data = pd.read_csv('titanic_train.csv')
# test_data = pd.read_csv('titanic_test.csv')
disaster_data = titanic_data.drop(columns=['Ticket', 'Cabin', 'PassengerId']).dropna()
disaster_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,29.1250,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [74]:
encoder = OneHotEncoder(handle_unknown='ignore')

data = pd.DataFrame({'Embarked': disaster_data['Embarked']})
encoded_data = encoder.fit_transform(data[['Embarked']]).toarray()

disaster_data.update(encoded_data)

disaster_data['Sex'] = (disaster_data['Sex'] == 'male').astype(int)

In [91]:
model = RandomForestClassifier()
x = disaster_data.drop(columns=['Survived', 'Name', 'Embarked'])
y = disaster_data['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

model.fit(x_train, y_train)

survival_prediction = model.predict(x_test)
prediction_accuracy = model.score(x_test, y_test)

prediction_accuracy

0.8041958041958042

In [94]:
model_metrics = classification_report(y_test, survival_prediction)

print(model_metrics)

              precision    recall  f1-score   support

           0       0.82      0.84      0.83        82
           1       0.78      0.75      0.77        61

    accuracy                           0.80       143
   macro avg       0.80      0.80      0.80       143
weighted avg       0.80      0.80      0.80       143